body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 1rem;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0073e6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e0f0ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.project {
    background: #eaf2ff;
    padding: 10px;
    margin-top: 10px;
    border-left: 5px solid #0073e6;
}
.project a{
    color: rgb(22, 22, 22);
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
